In [1]:
# patterns with map
# recursion functions

#### 30-07-24

### Alphabet patterns

In [13]:
n=int(input())
dummy=1
for row in range(1,n+1):
    for st in range(1, n+1):
        print(chr(dummy+64), end=' ')
    print()
    dummy+=1

5
A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [14]:
n=int(input())
for row in range(1,n+1):
    dummy=1
    for st in range(1, n+1):
        print(chr(dummy+64), end=' ')
        dummy+=1
    print()

5
A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [15]:
n=int(input())
dummy=1
for row in range(1,n+1):
    for st in range(1, n+1):
        print(chr(dummy+64), end=' ')
        dummy+=1
    print()

5
A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y

In [16]:
n=int(input())
for row in range(1,n+1):
    dummy=row
    for st in range(1, n+1):
        print(chr(dummy+64), end=' ')
        dummy+=1
    print()

5
A B C D E
B C D E F
C D E F G
D E F G H
E F G H I

In [18]:
n=int(input())
for row in range(1,n+1):
    dummy=row
    for st in range(1, n+1):
        print(chr(dummy+64), end=' ')
        if row%2==0:
            dummy+=2
        else:
            dummy+=1
    print()

5
A B C D E
B D F H J
C D E F G
D F H J L
E F G H I

In [19]:
n=int(input())
dummy=1
for row in range(1,n+1):
    for st in range(1, n+1):
        print(chr(dummy+64), end=' ')
        if row%2==0:
            dummy-=1
        else:
            dummy+=1
    print()

5
A B C D E
F E D C B
A B C D E
F E D C B
A B C D E

In [39]:
n=int(input())
for row in range(1,n+1):
    dummy=row
    for col in range(1,n+1):
        print(chr(dummy+64), end=' ')
        dummy+=5
    print()

5
A F K P U
B G L Q V
C H M R W
D I N S X
E J O T Y

In [1]:
n = int(input())

for row in range(1,n+1):
    dummy = row
    for st in range(1,n+1):
        print(chr(dummy+64),end=' ')
        if row%2==1:
            dummy+=1
        else:
            dummy-=1
    print()

5
A B C D E
B A @ ? >
C D E F G
D C B A @
E F G H I

In [22]:
n=int(input())
dummy=1
for row in range(1,n+1):
    for st in range(1, row+1):
        print(chr(dummy+64), end=' ')
    dummy+=1
    print()

5
A
B B
C C C
D D D D
E E E E E

In [1]:
n = int(input())
star = 1
for row in range(1,n+1):
    dummy = 1
    for st in range(1,star+1):
        print(chr(dummy+64),end=' ')
        dummy+=1
    print()
    star+=1

5
A
A B
A B C
A B C D
A B C D E

In [2]:
n = int(input())
star = 1
dummy = 1
for row in range(1,n+1):
    for st in range(1,star+1):
        print(chr(dummy+64),end=' ')
        dummy+=1
    print()
    star+=1

5
A
B C
D E F
G H I J
K L M N O

In [3]:
n = int(input())
star = 1

for row in range(1,n+1):
    dummy = row
    for st in range(1,star+1):
        print(chr(dummy+64),end=' ')
        dummy+=1
    print()
    star+=1

5
A
B C
C D E
D E F G
E F G H I

In [4]:
n = int(input())
star = 1

for row in range(1,n+1):
    dummy = row
    for st in range(1,star+1):
        print(chr(dummy+64),end=' ')
        if row%2==1:
            dummy+=1
        else:
            dummy+=2
    print()
    star+=1

5
A
B D
C D E
D F H J
E F G H I

In [5]:
n = int(input())
star = 1
dummy = 1
for row in range(1,n+1):
    for st in range(1,star+1):
        print(chr(dummy+64),end=' ')
        if row%2==1:
            dummy+=1
        else:
            dummy-=1
    print()
    star+=1

5
A
B A
@ A B
C B A @
? @ A B C

In [29]:
n=int(input())
dummy=1
stars = n
for row in range(1,n+1):
    for sp in range(1,row):
        print(' ', end=' ')
    for st in range(1, stars+1):
        print(chr(dummy+64), end=' ')
    stars-=1
    dummy+=1
    print()

5
A A A A A
  B B B B
    C C C
      D D
        E

In [36]:
n=int(input())
stars=n
for row in range(1,n+1):
    dummy=row
    for sp in range(1,row):
        print(' ', end=' ')
    for st in range(1,stars+1):
        print(chr(dummy+64), end=' ')
        dummy+=1
    stars-=1
    print()

5
A B C D E
  B C D E
    C D E
      D E
        E

In [6]:
n = int(input())
space = 0
star = n
for row in range(1,n+1):
    dummy = 1
    for sp in range(1,space+1):
        print(' ',end=' ')
    for st in range(1,star+1):
        print(chr(dummy+64),end=' ')
        dummy+=1
    print()

    star-=1
    space+=1

5
A B C D E
  A B C D
    A B C
      A B
        A

In [7]:
n = int(input())
space = 0
star = n
dummy =1
for row in range(1,n+1):
    for sp in range(1,space+1):
        print(' ',end=' ')
    for st in range(1,star+1):
        print(chr(dummy+64),end=' ')
        dummy+=1
    print()
    star-=1
    space+=1

5
A B C D E
  F G H I
    J K L
      M N
        O

In [8]:
n = int(input())
space = 0
star = n

for row in range(1,n+1):
    dummy = row
    for sp in range(1,space+1):
        print(' ',end=' ')
    for st in range(1,star+1):
        print(chr(dummy+64),end=' ')
        if row%2==1:
            dummy+=1
        else:
            dummy+=2
    print()
    star-=1
    space+=1

5
A B C D E
  B D F H
    C D E
      D F
        E

In [9]:
n = int(input())
space = 0
star = n
dummy = 1
for row in range(1,n+1):

    for sp in range(1,space+1):
        print(' ',end=' ')
    for st in range(1,star+1):
        print(chr(dummy+64),end=' ')
        if row%2==1:
            dummy+=1
        else:
            dummy-=1
    print()
    star-=1
    space+=1

5
A B C D E
  F E D C
    B C D
      E D
        C

In [10]:
n=int(input())
dummy=1
spaces = n-1
for row in range(1,n+1):
    for sp in range(1,spaces+1):
        print(' ', end=' ')
    for st in range(1, row+1):
        print(chr(dummy+64), end=' ')
    dummy+=1
    spaces-=1
    print()

5
        A
      B B
    C C C
  D D D D
E E E E E

In [11]:
n = int(input())
space = n-1
star =1
for row in range(1,n+1):
    dummy =1
    for sp in range(1,space+1):
        print(' ',end=' ')
    for st in range(1,star+1):
        print(chr(dummy+64),end=' ')
        dummy+=1
    print()
    star+=1
    space-=1

5
        A
      A B
    A B C
  A B C D
A B C D E

In [12]:
n = int(input())
space = n-1
star =1
dummy =1
for row in range(1,n+1):
    for sp in range(1,space+1):
        print(' ',end=' ')
    for st in range(1,star+1):
        print(chr(dummy+64),end=' ')
        dummy+=1
    print()
    star+=1
    space-=1

5
        A
      B C
    D E F
  G H I J
K L M N O

In [13]:
n = int(input())
space = n-1
star =1
for row in range(1,n+1):
    dummy = row
    for sp in range(1,space+1):
        print(' ',end=' ')
    for st in range(1,star+1):
        print(chr(dummy+64),end=' ')
        dummy+=1
    print()
    star+=1
    space-=1

5
        A
      B C
    C D E
  D E F G
E F G H I

In [14]:
n = int(input())
space = n-1
star =1
for row in range(1,n+1):
    dummy = row
    for sp in range(1,space+1):
        print(' ',end=' ')
    for st in range(1,star+1):
        print(chr(dummy+64),end=' ')
        if row%2==1:
            dummy+=1
        else:
            dummy+=2
    print()
    star+=1
    space-=1

5
        A
      B D
    C D E
  D F H J
E F G H I

In [15]:
n = int(input())
space = n-1
star =1
dummy =1
for row in range(1,n+1):
    for sp in range(1,space+1):
        print(' ',end=' ')
    for st in range(1,star+1):
        print(chr(dummy+64),end=' ')
        if row%2==1:
            dummy+=1
        else:
            dummy-=1
    print()
    star+=1
    space-=1

5
        A
      B A
    @ A B
  C B A @
? @ A B C

In [16]:
n = int(input())
star = n
dummy = 1
for row in range(1,n+1):
    for st in range(1,star+1):
        print(chr(dummy+64),end=' ')
    print()
    dummy+=1
    star-=1

5
A A A A A
B B B B
C C C
D D
E

In [17]:
n = int(input())
star = n
for row in range(1,n+1):
    dummy =1
    for st in range(1,star+1):
        print(chr(dummy+64),end=' ')
        dummy+=1
    print()
    star-=1

5
A B C D E
A B C D
A B C
A B
A

In [18]:
n = int(input())
star = n
dummy = 1
for row in range(1,n+1):
    for st in range(1,star+1):
        print(chr(dummy+64),end=' ')
        dummy+=1
    print()
    star-=1

5
A B C D E
F G H I
J K L
M N
O

In [19]:
n = int(input())
star = n
for row in range(1,n+1):
    dummy = row
    for st in range(1,star+1):
        print(chr(dummy+64),end=' ')
        dummy+=1
    print()
    star-=1

5
A B C D E
B C D E
C D E
D E
E

In [20]:
n = int(input())
star = n
for row in range(1,n+1):
    dummy = row
    for st in range(1,star+1):
        print(chr(dummy+64),end=' ')
        if row%2==1:
            dummy+=1
        else:
            dummy+=2
    print()
    star-=1

5
A B C D E
B D F H
C D E
D F
E

In [21]:
n = int(input())
star = n
dummy = 1
for row in range(1,n+1):
    for st in range(1,star+1):
        print(chr(dummy+64),end=' ')
        if row%2==1:
            dummy+=1
        else:
            dummy-=1
    print()
    star-=1

5
A B C D E
F E D C
B C D
E D
C

    Generally we use (suppose dummy=5) and chr(dummy+96) but, Note: chr(97) = a  and chr(65) = A
        Unlike the above, take n=3 for 3 alphabets, 5 for 5 alphabets and so on. Write the program accordingly. (Better and Easier) when number of rows and number of alphabets are not same
                 OR
        Start by decreasing 1 from the ascii value instead of directly using 65 or 97 (bcz in that case, while adding dummy (i.e. n =5 or so, the calculation starts from b and then add 5 (b to f instead of a to e), since a or 65 is already mentioned and it gets excluded and the starting point for clacluation will be b instead of a or A) i.e., dummy(5)+96 = 101(f) gives a to f.
        Or to print a to f, ascii of f=101
    so dummy(5)+x=101 --> x = 101-5 = 96. Hence chr(dummy+96) 

        If n=5 and pattern also has 5 alphabets starting from a, then we can use chr(dummy+96). But in the below case, there are only 3 alphabets starting from a. For the remaining 2, empty spaces are printed. Hence, our Ascii values should begin from 99 for c. So dummy(5)+x=99 --> x = 99 - 5 = 94. Hence chr(dummy+94)

        c
    c   b   c             n = 3, r = 5         n = 5, r = 9               n = 7, r = 13
c   b   a   b   c         st = 1 3 5 3 1       st = 1 3 5 7 9 7 5 3 1     st =  1  3  5 7 9 11  13 11 9 7  5  3  1
    c   b   c             sp = 4 2 0 2 4       sp = 8 6 4 2 0 2 4 6 8     sp = 12 10  8 6  4  2  0  2  4 6 8 10 12  
        c

In [81]:
# stars taken in between the program without prior initiation
n=int(input())
cnt=0
spaces=2*n-2
for row in range(1,2*n):
    dummy=n
    for sp in range(1, spaces+1):
        print(' ', end=' ')
    if row<=n:
        row_int=row
    else:
        cnt+=2
        row_int=row-cnt
    stars = 4*row_int-3       # row_int*2 + 2*(row_int-2) + 1 
    for st in range(1, stars+1) :
        if st%2==0:
            print(' ', end=' ')
        else:
            print(chr(dummy+96), end=' ')
            if st>stars//2:
                dummy+=1
            else:
                dummy-=1
    if row < n:        
        spaces-=2
        stars+=4
        
    else: 
        spaces+=2
        stars-=4
    print()

3
        c
    c   b   c
c   b   a   b   c
    c   b   c
        c

In [79]:
# initiating stars with 1 and then increment
n=int(input())
spaces = 2*n-2
stars = 1
cnt=0
for row in range(1,2*n):
    dummy=n
    for sp in range(1,spaces+1):
        print(' ', end=' ')
    if row>n:
        cnt+=2
        row_int = row-cnt
    else:
        row_int=row
        
    for st in range(1,stars+1):
        if st%2==0:
            print(' ', end=' ')
        else:
            print(chr(dummy+96), end=' ')
            if st>=(stars+1)//2:
                dummy+=1
            else:
                dummy-=1
            
    if row<n:
        spaces-=2
        stars+=4
    else:
        spaces+=2
        stars-=4
    print()

3
        c
    c   b   c
c   b   a   b   c
    c   b   c
        c

s=program
            g
          gr
        gra
      gram 
    gramp
  grampr
grampro

In [1]:
s='program'  
n=len(s)
spaces = (n-1)
for row in range(1, n+1):
    for sp in range(1,spaces+1):
        print(' ', end=' ')
    if row<=len(s)//2:
        var = s[len(s)//2:len(s)//2+row]
    elif len(s)%2==0  and row-len(s)//2>=0:
            var = s[len(s)//2:]+s[:row-len(s)//2]
    else:
        var = s[len(s)//2:]+s[:row-len(s)//2-1]
    print(var, end=' ')
    spaces-=1
    print()

            g
          gr
        gra
      gram
    gramp
  grampr
grampro