##### scenario 1:
    1. columnwise incrementation
        ------> incremet in inner
    2. rowwise incrementaion
        ------> increment in outer loop

##### scenario 2:
    1. incremented value taken to next row or not
        ------> define dummy outside of outer loop
    2. reintilization is done or not
        ------> define dummy inside outer loop

In [2]:
n = int(input())
dummy = 1
for row in range(1,n+1):
    for col in range(1,n+1):
        print(dummy,end=' ')
    print()
    dummy+=1

5
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [3]:
n = int(input())
for row in range(1,n+1):
    dummy = 1
    for col in range(1,n+1):
        print(dummy,end=' ')
        dummy+=1
    print()

5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [4]:
n = int(input())
dummy = 1
for row in range(1,n+1):
    for col in range(1,n+1):
        print(dummy,end=' ')
        dummy+=1
    print()

5
1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [5]:
n = int(input())
for row in range(1,n+1):
    dummy = row
    for col in range(1,n+1):
        print(dummy,end=' ')
        dummy+=1
    print()

5
1 2 3 4 5
2 3 4 5 6
3 4 5 6 7
4 5 6 7 8
5 6 7 8 9

In [6]:
n = int(input())
for row in range(1,n+1):
    dummy = row
    for col in range(1,n+1):
        print(dummy,end=' ')
        if row%2 == 0:
            dummy+=2

        else:
            dummy+=1
    print()

5
1 2 3 4 5
2 4 6 8 10
3 4 5 6 7
4 6 8 10 12
5 6 7 8 9

In [7]:
n = int(input())
dummy = 1
for row in range(1,n+1):
    for col in range(1,n+1):
        print(dummy,end=' ')
        if row%2 == 1:
            dummy+=1

        else:
            dummy-=1
    print()

5
1 2 3 4 5
6 5 4 3 2
1 2 3 4 5
6 5 4 3 2
1 2 3 4 5

In [1]:
n=int(input())
for row in range(1,n+1):
    dummy=row
    for col in range(1,n+1):
        print(dummy, end= ' ')
        dummy+=5
    print()

5
1 6 11 16 21
2 7 12 17 22
3 8 13 18 23
4 9 14 19 24
5 10 15 20 25

In [8]:
n = int(input())
dummy =1
for row in range(1,n+1):
    for col in range(1,row+1):
        print(dummy,end=' ')
    print()
    dummy+=1

5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [9]:
n = int(input())
for row in range(1,n+1):
    dummy =1
    for col in range(1,row+1):
        print(dummy,end=' ')
        dummy+=1
    print()

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [10]:
dummy =1
n = int(input())
for row in range(1,n+1):
    for col in range(1,row+1):
        print(dummy,end=' ')
        dummy+=1
    print()

5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [11]:
n = int(input())
for row in range(1,n+1):
    dummy = row
    for col in range(1,row+1):
        print(dummy,end=' ')
        dummy+=1
    print()

5
1
2 3
3 4 5
4 5 6 7
5 6 7 8 9

In [12]:
n = int(input())
for row in range(1,n+1):
    dummy = row
    for col in range(1,row+1):
        print(dummy, end=' ')
        if row%2==1:
            dummy+=1
        else:
            dummy+=2
    print()

5
1
2 4
3 4 5
4 6 8 10
5 6 7 8 9

In [13]:
n = int(input())
dummy = 1
for row in range(1,n+1):
    for col in range(1,row+1):
        print(dummy, end=' ')
        if row%2==1:
            dummy+=1
        else:
            dummy-=1
    print()

5
1
2 1
0 1 2
3 2 1 0
-1 0 1 2 3

In [14]:
n = int(input())
space = n-1
star = 1
dummy = 1
for row in range(1,n+1):
    for sp in range(1,space+1):
        print(' ',end=' ')
    for st in range(1,star+1):
        print(dummy,end=' ')
    print()
    star+=1
    space-=1
    dummy+=1

5
        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

In [15]:
n = int(input())
space = n-1
star = 1
for row in range(1,n+1):
    dummy = 1
    for sp in range(1,space+1):
        print(' ',end=' ')
    for st in range(1,star+1):
        print(dummy,end=' ')
        dummy+=1
    print()
    star+=1
    space-=1

5
        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [16]:
n = int(input())
space = n-1
star = 1
dummy = 1
for row in range(1,n+1):
    for sp in range(1,space+1):
        print(' ',end=' ')
    for st in range(1,star+1):
        print(dummy,end=' ')
        dummy+=1
    print()
    star+=1
    space-=1

5
        1
      2 3
    4 5 6
  7 8 9 10
11 12 13 14 15

In [17]:
n = int(input())
space = n-1
star = 1

for row in range(1,n+1):
    dummy = row
    for sp in range(1,space+1):
        print(' ',end=' ')
    for st in range(1,star+1):
        print(dummy,end=' ')
        dummy+=1
    print()
    star+=1
    space-=1

5
        1
      2 3
    3 4 5
  4 5 6 7
5 6 7 8 9

In [18]:
n = int(input())
space = n-1
star = 1

for row in range(1,n+1):
    dummy = row
    for sp in range(1,space+1):
        print(' ',end=' ')
    for st in range(1,star+1):
        print(dummy,end=' ')
        if row%2 == 1:
            dummy+=1
        else:
            dummy+=2
    print()
    star+=1
    space-=1

5
        1
      2 4
    3 4 5
  4 6 8 10
5 6 7 8 9

In [19]:
n = int(input())
space = n-1
star = 1
dummy = 1
for row in range(1,n+1):
    for sp in range(1,space+1):
        print(' ',end=' ')
    for st in range(1,star+1):
        print(dummy,end=' ')
        if row%2 == 1:
            dummy+=1
        else:
            dummy-=1
    print()
    star+=1
    space-=1

5
        1
      2 1
    0 1 2
  3 2 1 0
-1 0 1 2 3

In [4]:
n = int(input())
spaces = n-1
stars = 1

for row in range(1,n+1):
    dummy = 1
    for sp in range(1,spaces+1):
        print(' ', end = ' ')
    for st in range(1,stars+1):
        print(dummy, end = ' ')
        if st>n//2:
            dummy-=1
        else:
            dummy+=1
    stars+=2
    spaces-=1
    print()

5
        1
      1 2 3
    1 2 3 2 1
  1 2 3 2 1 0 -1
1 2 3 2 1 0 -1 -2 -3

In [27]:
n = int(input())
spaces = n-1
stars = 1

for row in range(1,n+1):
    dummy = 1
    for sp in range(1,spaces+1):
        print(' ', end = ' ')
    for st in range(1,stars+1):
        print(dummy, end=' ')
        if st>=row:
            dummy-=1
        else:
            dummy+=1 
    stars+=2
    spaces-=1
    print()

5
        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [30]:
n = int(input())
space = n-1
star= 1
for row in range(1,n+1):
    dummy =1
    for sp in range(1,space+1):
        print(' ',end=' ')
    for st in range(1,star+1):
        print(dummy,end=' ')
        if st <row:
            dummy+=1
        else:
            dummy-=1
    print()
    space-=1
    star+=2

5
        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [29]:
n = int(input())
spaces = n-1
stars = 1

for row in range(1,n+1):
    dummy = 1
    for sp in range(1,spaces+1):
        print(' ', end = ' ')
    for st in range(1,stars+1):
        print(dummy, end=' ')
        if st>row:
            dummy-=1
        else:
            dummy+=1 
    stars+=2
    spaces-=1
    print()

5
        1
      1 2 3
    1 2 3 4 3
  1 2 3 4 5 4 3
1 2 3 4 5 6 5 4 3

In [1]:
n=int(input())
spaces = n
for row in range(1,n+1):
    dummy=1
    stars=row
    for st in range(1, row+1):
        print(dummy, end=' ')
        dummy+=1
    for sp in range(1, spaces+n-1):
        print(' ', end=' ')
    for st in range(1,row+1):
        print(stars, end=' ')
        stars-=1
    spaces-=2
    print()

5
1                 1
1 2             2 1
1 2 3         3 2 1
1 2 3 4     4 3 2 1
1 2 3 4 5 5 4 3 2 1

In [2]:
n=int(input())
spaces = 2*n-2
for row in range(1,n+1):
    dummy=1
    for st in range(1, row+1):
        print(dummy, end=' ')
        dummy+=1
    for sp in range(1, spaces+1):
        print(' ', end=' ')
    for st in range(1,row+1):
        print(row, end=' ')
        row-=1
    spaces-=2
    print()

5
1                 1
1 2             2 1
1 2 3         3 2 1
1 2 3 4     4 3 2 1
1 2 3 4 5 5 4 3 2 1

In [15]:
n=int(input())
stars=1
print()
for row in range(n,0,-1):
    dummy=row
    for col in range(1,stars+1):    
        print(dummy, end = ' ')
        dummy+=1
    stars+=1
    print()

5

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [4]:
n=int(input())
spaces = 2*n-2
stars = 1
for row in range(1,2*n):
    for sp in range(1,spaces+1):
        print(' ', end=' ')
    for st in range(1,stars+1):
        print(stars , end=' ')    
    if row<n:
        spaces-=2
        stars+=2
    else:
        spaces+=2
        stars-=2
    print()

3
        1
    3 3 3
5 5 5 5 5
    3 3 3
        1

In [8]:
n=int(input())
cnt=0
spaces=n-1
for row in range(1,2*n):
    dummy=n
    row_int=row
    for sp in range(1, spaces+1):
        print(' ', end=' ')
    if row_int<=n:
        row_int=row_int
    else:
        cnt+=2
        row_int=row_int-cnt
    stars = row_int*2 - 1
    for st in range(1, stars+1) :
        print(dummy, end=' ')
        if st>stars//2:
            dummy+=1
        else:
            dummy-=1
    if row < n:
        
        spaces-=1
        stars+=4
        
    else: 
        spaces+=1
        stars-=4
    print()

3
    3
  3 2 3
3 2 1 2 3
  3 2 3
    3

In [7]:
n=int(input())
cnt=0
spaces=2*n-2
for row in range(1,2*n):
    dummy=n
    row_int=row
    for sp in range(1, spaces+1):
        print(' ', end=' ')
    if row_int<=n:
        row_int=row_int
    else:
        cnt+=2
        row_int=row_int-cnt
    stars = 4*row_int-3      # row_int*2 + 2*(row_int-2) + 1
    for st in range(1, stars+1) :
        if st%2==0:
            print(' ', end=' ')
        else:
            print(dummy, end=' ')
            if st>stars//2:
                dummy+=1
            else:
                dummy-=1
    if row < n:
        
        spaces-=2
        stars+=4
        
    else: 
        spaces+=2
        stars-=4
    print()

3
        3
    3   2   3
3   2   1   2   3
    3   2   3
        3

In [8]:
n=int(input())
spaces = 2*n-2
stars = 1
cnt=0
for row in range(1,2*n):
    dummy=n
    for sp in range(1,spaces+1):
        print(' ', end=' ')
    if row>n:
        cnt+=2
        row_int = row-cnt
    else:
        row_int=row
        
    for st in range(1,stars+1):
        if st%2==0:
            print(' ', end=' ')
        else:
            print(dummy, end=' ')
            if st>=(stars+1)//2:
                dummy+=1
            else:
                dummy-=1
            
    if row<n:
        spaces-=2
        stars+=4
    else:
        spaces+=2
        stars-=4
    print()

3
        3
    3   2   3
3   2   1   2   3
    3   2   3
        3