In [18]:
# check if 2 words are anagrams or not
a = 'asdf'
b = 'fdab'
def check(str_1,str_2):
    return len(set(a).intersection(set(b))) == 0
        
def check_(str1, str2):
    return sorted(str1) ==sorted(str2)
       
print(check(a, b))
check_(a, b)

False

False

In [50]:
def even(n):
    return n> 100 and n%2==0
even(10)

False

In [3]:
def isleap(y):
    if y % 100==0:
        if y % 400 != 0:
            return True
    elif y % 4 == 0:
        return True  
    else:
        return False
    
def isleap_(y):
    return (y%100==0 and y%400==0) or (y%100!=0 and y%4==0)

In [4]:
print(isleap(440)) 
isleap_(440)

True

True

In [ ]:
a,b,c  -- relationship
a>b and a>c:
    a
b>a and b>c:
    b
c

In [1]:
#  max usinf if-elif
def max_(a,b,c):
    if a >= b and a >= c:
            return a
    elif b >= a and b >= c:
        return b
    else:
        return c
max_(5,5,6)

6

In [2]:
# max using nested-if
a,b,c = 10,12,9

if a>b:
    if a>c:
        print(a)
    else:
        print(c)
else:
    if b>c:
        print(b)
    else:
        print(c)

12

In [5]:
a,b,c,d = 8,20,5,137
if a>b:
    if a>c:
        if a>d:
            print(a)
        else:
            print(d)
    else:
        if c>d:
            print(c)
        else:
            print(d)
else:
    if b>c:
        if b>d:
            print(b)
        else:
            print(d)
    else:
        if c>d:
            print(c)
        else:
            print(d)

137

In [42]:
s='123nkslhf897'    # sum of even digits ina given string
sum_=0
for i in s:
    if i.isdigit() and int(i)%2==0:
        print(i, end=' ')
        sum_+=int(i)
print()
print(sum_)

2 8
10

In [47]:
# count even and odd digits in the given str
s='123nkslhf897'
ec = 0
oc = 0
for i in s:
    if i.isdigit():
        if int(i)%2==0:
            ec+=int(i)
        else:
            oc+=int(i)
print('ec- ', ec)
print('oc - ', oc)

ec-  10
oc -  20

In [77]:
# most repeated character without using count
s='shreeelakshmiiii'
d={}
max_=0
for i in s:
    if i in d.keys():
        d[i]+=1
        if d[i]>max_:
            max_=d[i]
            char = i 
    else:
        d[i]=1
        if max_==0:
            char=i

print(d)
print()
print(max_, char)

{'s': 2, 'h': 2, 'r': 1, 'e': 3, 'l': 1, 'a': 1, 'k': 1, 'm': 1, 'i': 4}

4 i

In [80]:
s='shreeeeeeeeelakshmi'
c=0
for i in s:
    if s.count(i)>c:
        c=s.count(i)
        mrc = i
print(mrc)

e

In [139]:
d1 = {'a':20,'b':30,'c':100,'e':500}
d2 = {'a':40,'b':20,'c':500,'d':25}
#  merge the 2 dicts to get the following o/p
#  {'a': 40, 'b': 30, 'c': 500, 'e': 500, 'd': 25}
op={}
for d in [d1,d2]:
    for k in d.keys():
        if k not in op:
            op[k] = d[k]
        elif op[k]< d[k]:
             op[k] = d[k]
op

{'a': 40, 'b': 30, 'c': 500, 'e': 500, 'd': 25}

In [185]:
# count method logic
#  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx #
#  wrong when the sub string is a repeated char and 
# the string has the char repeated in number other than the multiples of the length of the substring 
# eg: sub has 2 e and string has 3 e; works well hen string has 4 e again

count = 0
sub = 'ee'
w = len(sub)
s = 'shreeelakshmi'
for ip in range(len(s)-len(sub) +1):
    if s[ip:ip+w] == sub:
        count+=1
print(count)

2

In [206]:
#  sort method logic (bubble sort)
#  also check quick sort, heap sort, merge sort, selection sort, insertion sort
l = [64, 34, 25, 12, 22, 11, 90]
for i in range(len(l)):
    for ip in range(len(l)-i-1):
        if l[ip+1]<l[ip]:
            l[ip],l[ip+1]=l[ip+1],l[ip]
l

[11, 12, 22, 25, 34, 64, 90]

In [3]:
# take n exactly n integers as inputs in a row
n, m = map(int, input().split())
arr = []
for i in range(n):
    arr.append(input())
A = set()
while True:
    if len(A)<m:
        i = int(input())
        A.add(i)
    else:
        break
        
B = set()
while True:
    i = int(input())
    if len(B) == m:
        break
    elif i not in A:
        B.add(i)

happiness = 0
for i in arr:
    if i in A:
        happiness+=1
    elif i in B:
        happiness-=1
print(happiness)

3
1
1
2

{1, 2}

In [ ]:
3 2
1 5 3
3 1
5 7

### CHATGPT

1. Two Sum
Problem: Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

In [154]:
def two_sum(nums, target):
    num_dict = {}
    for i, num in enumerate(nums):
        diff = target - num
        if diff in num_dict:
            return [num_dict[diff], i]
        num_dict[num] = i
#         print(num_dict)

        
two_sum([2, 7, 11, 15], 9)

[0, 1]

2. Reverse a String
Problem: Write a function that reverses a string. The input string is given as a list of characters.

In [4]:
l = ['h', 'e', 'l', 'l', 'o', 'i', 6,4, 7]
for i in range(len(l)//2):
    l[i], l[-(i+1)] = l[-(i+1)], l[i]
l

[7, 4, 6, 'i', 'o', 'l', 'l', 'e', 'h']

In [7]:
# lr = ''
# for i in 'shri':
#     lr=i+lr
# print(lr)

irhs

In [155]:
def reverse_string(s):
    left, right = 0, len(s) - 1
    while left < right:
        s[left], s[right] = s[right], s[left]
        left += 1
        right -= 1

# Example usage:
s = ['h', 'e', 'l', 'l', 'o']
reverse_string(s)
print(s)  # Output: ['o', 'l', 'l', 'e', 'h']

['o', 'l', 'l', 'e', 'h']

3. Maximum Subarray
Problem: Given an integer array nums, find the contiguous subarray (containing at least one number) which has the largest sum and return its sum.

In [156]:
def max_subarray(nums):
    current_sum = max_sum = nums[0]
    for num in nums[1:]:
        current_sum = max(num, current_sum + num)
        max_sum = max(max_sum, current_sum)
    return max_sum

# Example usage:
print(max_subarray([-2, 1, -3, 4, -1, 2, 1, -5, 4]))  # Output: 6

6

4. Merge Two Sorted Lists
Problem: Merge two sorted linked lists and return it as a new sorted list.

In [157]:
class ListNode:
    def __init__(self, val=0, next=None):
        self.val = val
        self.next = next

def merge_two_lists(l1, l2):
    dummy = ListNode()
    current = dummy
    while l1 and l2:
        if l1.val < l2.val:
            current.next = l1
            l1 = l1.next
        else:
            current.next = l2
            l2 = l2.next
        current = current.next
    current.next = l1 if l1 else l2
    return dummy.next

# Example usage:
# Input: 1->2->4, 1->3->4
# Output: 1->1->2->3->4->4

5. Valid Parentheses
Problem: Given a string containing just the characters '(', ')', '{', '}', '[', and ']', determine if the input string is valid.

In [158]:
def is_valid(s):
    stack = []
    mapping = {')': '(', '}': '{', ']': '['}
    for char in s:
        if char in mapping:
            top_element = stack.pop() if stack else '#'
            if mapping[char] != top_element:
                return False
        else:
            stack.append(char)
    return not stack

# Example usage:
print(is_valid("()"))       # Output: True
print(is_valid("()[]{}"))   # Output: True
print(is_valid("(]"))       # Output: False

True
True
False

#### List Manipulation and Slicing: 
Write a function rotate_list(lst, k) that takes a list lst and an integer k and returns the list rotated to the right by k steps. For example, rotate_list([1, 2, 3, 4, 5], 2) should return [4, 5, 1, 2, 3].

In [3]:
def r(l,st,e):
    st=(st+2)%len(l)
    while s<e:       
        l[s],l[e]=l[e],l[s]
        
    print(l)
l=[1, 2, 3, 4, 5]
r(l,2)

NameError: name 's' is not defined

In [2]:
[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [ ]:
1-4,2-5,3-1
45123