In [1]:
n = int(input())
#pattern by using single loop
for i in range(1,n+1):
    print('* '*n)
print('='*9)

#pattern by using nested loops
for row in range(1,n+1):
    for col in range(1,n+1):
        print(' * ',end=' ')
    print()

5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
=========
 *   *   *   *   *
 *   *   *   *   *
 *   *   *   *   *
 *   *   *   *   *
 *   *   *   *   *

In [22]:
n = int(input())
#pattern by using single loop
for i in range(1,n+1):
    print('* '*i)

# for row in range(1,n+1):
#     for col in range(1,row+1):
#         print('*',end=' ')
#     print()

# other way
# for row in range(1,n+1):
#     for col in range(1,n+1):
#         if row>=col:
#             print('*',end=' ')
#     print()

#other way
n = int(input())
stars = 1
for row in range(1,n+1):
    for st in range(1,stars+1):
        print('*',end=' ')
    print()
    stars+=1

5
*
* *
* * *
* * * *
* * * * *
7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [17]:
n = int(input())
for row in range(1,n+1):
    for col in range(1,row+1):
        if row==col:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

n= int(input())
spaces = 0
stars = 1
for row in range(1,n+1):
    for sp in range(1,spaces+1):
        print(' ',end=' ')
    for sts in range(1,stars+1):
        print('*',end=' ')
    print()
    spaces+=1

5
*
  *
    *
      *
        *
6
*
  *
    *
      *
        *
          *

In [13]:
n = int(input())
for row in range(1,n+1):
    for col in range(1,n+1):
        if row+col==n+1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

5
        *
      *
    *
  *
*

In [14]:
n = int(input())
for row in range(1,n+1):
    for col in range(1,n+1):
        if row == col or row+col==n+1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

5
*       *
  *   *
    *
  *   *
*       *

In [16]:
n = int(input())
for row in range(1,n+1):
    for col in range(1,n+1):
        if col+row>=n+1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

    
n = int(input())
spaces = n-1
stars = 1
for row in range(1,n+1):
    for sp in range(1,spaces+1):
        print(' ',end=' ')
    for st in range(1,stars+1):
        print('*',end=' ')
    print()
    spaces-=1
    stars+=1

5
        *
      * *
    * * *
  * * * *
* * * * *
6
          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *

In [23]:
n = int(input())
for row in range(1,n+1):
    for col in range(1,n+1):
        if col+row<=n+1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

5
* * * * *
* * * *
* * *
* *
*

In [24]:
n = int(input())
for row in range(1,n+1):
    for col in range(1,n+1):
        if row<=col:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()


n= int(input())
spaces = 0
stars = n
for row in range(1,n+1):
    for sp in range(1,spaces+1):
        print(' ',end=' ')
    for sts in range(1,stars+1):
        print('*',end=' ')
    print()
    spaces+=1
    stars-=1

5
* * * * *
  * * * *
    * * *
      * *
        *
7
* * * * * * *
  * * * * * *
    * * * * *
      * * * *
        * * *
          * *
            *

In [25]:
n = int(input())
spaces = n-1
stars = 1
for row in range(1,n+1):
    for sp in range(1,spaces+1):
        print(' ',end=' ')
    for st in range(1,stars+1):
        print('*',end=' ')
    print()
    spaces-=1
    stars+=2

6
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *

In [30]:
n = int(input())
spaces = n//2
stars = 1
for row in range(1,n+1):
    for sp in range(1,spaces+1):
        print(' ',end=' ')
    for st in range(1,stars+1):
        print('*',end=' ')
    print()
    if row<=n//2:
        spaces-=1
        stars+=2
    else:
        spaces+=1
        stars-=2

5
    *
  * * *
* * * * *
  * * *
    *

#### 30-07-24

In [1]:
n=int(input())
stars = (2*n)-1
spaces = 0
for row in range(1,n+1):
    for sp in range(1, spaces+1):
        print(' ', end = ' ')
    for st in range(1,stars+1):
        print('*', end=' ')
    print()
    stars-=2
    spaces+=1

5
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [4]:
n=int(input())
stars = (n+1)//2
for row in range(1,n+1):
    for st in range(1,stars+1):
        print('*', end=' ')
    if row>=n//2+1:
        stars+=1
    else:
        stars-=1
    print()

5
* * *
* *
*
* *
* * *

In [17]:
n=int(input())
stars=n
for row in range(1,n+1):
    for st in range(1,stars+1):
        print('*', end=' ')
    stars-=1
    print()

5
* * * * *
* * * *
* * *
* *
*

In [3]:
n=int(int(input()))
space = n-1  #space-=2
star = 1 # star +=4
for row in range(1,n+1):
    for sp in range(1,space+1):
        print(' ', end=' ')
    
    for st in range(1,star+1):
        print('*', end=' ')
    if st<2*n-1:
        star +=4
        space-=2
    else:
        star-=4
        space+=2
    print()

5
        *
    * * * * *
* * * * * * * * *
    * * * * *
* * * * * * * * *

In [50]:
n=int(input())
spaces = n-1
stars = 1

for row in range(1,n+1):
    for sp in range(1,spaces+1):
        print(' ',end=' ')
    
    for st in range(1,stars+1):
            print('*', end=' ')
    print()
    
    if row<=n//2:
        stars+=4
        spaces-=2
    else:
        stars-=4
        spaces+=2

5
        *
    * * * * *
* * * * * * * * *
    * * * * *
        *

In [5]:
n = int(input())  
stars = 1
spaces = 2*n-2
for row in range(1,2*n):
    for sp in range(1, spaces+1):
        print(' ', end=' ')
    
    for st in range(1, stars+1):
        if st%2==0:
            print(' ', end=' ')
        else:
            print('*', end=' ')
    if row < n:
        spaces-=2
        stars+=4
    else: 
        spaces+=2
        stars-=4
    print()

3
        *
    *   *   *
*   *   *   *   *
    *   *   *
        *

In [9]:
n=int(input())
spaces = 2*n-2
stars = 1

for row in range(1,2*n):
    for sp in range(1,spaces+1):
        print(' ',end=' ')
    
    for st in range(1,stars+1):
            print('*  ', end=' ')
    print()
    
    if row<n:
        stars+=2
        spaces-=2
    else:
        stars-=2
        spaces+=2

3
        *
    *   *   *
*   *   *   *   *
    *   *   *
        *

* * * * * * * * *  
* * * *   * * * *  
* * *       * * * 
* *           * * 
*               *
n=3, row = 4
st 7 6 4 2 
sp 0 1 3 5

n=5, row = 5
st 11 10 8 6 4 2
sp 0  1  3 5 7 9

n=7, row = 8
st 15 14 12 10 8 6 4  2
sp 0   1  3  5 7 9 11 13

n=9
st 19 18 16 14 12 10 8  6  4  2 
sp  0  1  3  5  7  9 11 13 15 17

In [3]:
n=int(input())
spaces = 2*n-2
for row in range(1,2*n):
    for sp in range(1,spaces+1):
        print('*', end=' ')
    if row < n:
        spaces-=2
    else: 
        spaces+=2
    print()

3
* * * *
* *

* *
* * * *

In [4]:
n=int(input())
spaces = n-1
stars = 1

for row in range(1,n+1):
    for sp in range(1,spaces+1):
        print(' ',end=' ')
    
    for st in range(1,stars+1):
            print('*', end=' ')
    print()
    
    if row<=n//2:  # or row<n//2+1
        stars+=2
        spaces-=2
    else:
        stars-=2
        spaces+=2

5
        *
    * * *
* * * * *
    * * *
        *

In [61]:
n=int(input())
stars=1
spaces=(n+1)//2-1
for row in range(1,n+1):
    for sp in range(1, spaces+1):
        print(' ', end=' ')
    for st in range(1, stars+1):
        print('*', end=' ')
    if row<=n//2:
        stars+=1
        spaces-=1
    else:
        stars-=1
        spaces+=1
    print()

7
      *
    * *
  * * *
* * * *
  * * *
    * *
      *

In [75]:
n=int(input())
spaces = n
for row in range(1, n+1):
    for sp in range(1,spaces+1):
        print(' ', end=' ')
    for st in range(1,row+1):
        print('*', end=' ')
        print(' ', end=' ')
    spaces-=1
    print()

5
          *
        *   *
      *   *   *
    *   *   *   *
  *   *   *   *   *

In [48]:
n=int(input())
stars = 2*n+1
spaces = 0

   
for st in range(1, stars+1):
    print('*', end= ' ')
    
print()


for st in range(n,0,-1):
    stars=st
    spaces=(2*n)+1 - 2*stars
    for i in range(1,stars+1):
        print('*',end= ' ')
    for j in range(1,spaces+1):
        print(' ',end=' ')
    for k in range(1,stars+1):
        print('*',end=' ')
    print ()

5
* * * * * * * * * * *
* * * * *   * * * * *
* * * *       * * * *
* * *           * * *
* *               * *
*                   *

In [27]:
n=int(input())
stars = 2*n+1
spaces = 0
while stars>1:
    if stars == 2*n+1:    
        for st in range(1, stars+1):
            print('*', end= ' ')
        stars-=1
        spaces+=1
    else:
        cnt = 0
        for st in range(1,stars+2):
            if st>stars//2 and cnt <1:
                cnt+=1
                for sp in range(1,spaces+1):
                    print(' ', end=' ')
            else:
                print('*', end=' ')
        stars-=2
        spaces+=2
    print()

5
* * * * * * * * * * *
* * * * *   * * * * *
* * * *       * * * *
* * *           * * *
* *               * *
*                   *

In [23]:
# n=8, r = 8, sp = 14
# n=7, r=7, sp=12       -----> (n-1)*2

n=int(input())
spaces = (n-1)*2
for row in range(1, n+1):
    for sp in range(1,spaces+1):
        print(' ', end=' ')
    for st in range(1,row+1):
        print('*', end=' ')
    spaces-=2
    print()

5
                *
            * *
        * * *
    * * * *
* * * * *